.diagnosis-search {
  width: 100%;
}


.search-box {

  display:flex;
  align-items:center;
  gap:10px;

  background:white;

  border:1px solid #dfe4e8;

  padding:12px;

  border-radius:10px;

  margin-bottom:15px;

}


.search-box svg {

  color:#189f8e;

}


.search-box input {

  border:none;

  outline:none;

  width:100%;

  font-size:12px;

}


.diagnosis-results {

  display:flex;

  flex-direction:column;

  gap:10px;

}


.diagnosis-result-card {

  display:flex;

  justify-content:space-between;

  align-items:center;

  text-align:left;

  padding:14px;

  border-radius:10px;

  background:white;

  border:1px solid #e5e9ed;

  cursor:pointer;

  transition:.2s;

}


.diagnosis-result-card:hover {

  border-color:#189f8e;

  background:#f5fcfa;

}


.diagnosis-result-card div {

  display:flex;

  flex-direction:column;

  gap:4px;

}


.diagnosis-result-card strong {

  font-size:13px;

  color:#26323d;

}


.diagnosis-result-card span {

  font-size:10px;

  color:#8b929b;

}


.diagnosis-result-card small {

  font-size:10px;

  color:#189f8e;

}


.empty-result {

  color:#9ca3af;

  font-size:12px;

}